<div *ngIf="!this.ds.isWorking">
  <h1>My sets</h1>
  <div class="form-group">
    <input type="text" id="filter" placeholder="Search" class="form-control" [(ngModel)]="searchText">
  </div>
  <div class="flex-container" *ngIf="setList.length!=0">
    <div class="card col-3" *ngFor="let s of setList |  filterText: searchText">
      <div class="card-body" routerLink="detail/{{s.id}}">
        <h5 class="card-title">{{s.title}}</h5>
        <p class="card-text"> {{s.itemNum}} items
        </p>
        <p class="text-muted text-end">{{s.creator}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="setList.length==0">
    <p id="tp">There are no sets yet.</p>
  </div>
  <a class="addButton btn btn-primary btn-lg rounded-circle" *ngIf="this.as.isAuthenticated"
    routerLink="/sets/new">+</a>
</div>
<div *ngIf="this.ds.isWorking">
  <app-spinner></app-spinner>
</div>