<div *ngIf="set" class="container">
  <h1>{{set.title}}</h1>
  <div *ngIf="this.as.isAuthenticated && isOwn">
    <button type="button" class="rmargin btn btn-outline-warning" (click)="edit()">Edit</button>
    <button type="button" class="btn btn-outline-danger" (click)="delete()">Delete</button>
  </div>
  <div class="card-view">
    <button class="btn btn-primary" (click)="previousCard()">&larr; Back</button>
    <app-flipcard [card]="set.cards[ind]"></app-flipcard>
    <button class="btn btn-primary" (click)="nextCard()">&rarr; Next</button>
  </div>
  <div *ngIf="this.as.isAuthenticated">
    <div *ngIf="set.itemNum>4">
      <button type="button" (click)="practice(false)" class="margin btn btn-primary" id="tb">Practice</button>
      <button type="button" (click)="practice(true)" class="margin btn btn-primary">Timed practice</button>
    </div>
    <div *ngIf="set.itemNum<=4">
      <p id="tp">You need to have at least 5 cards in a set to start practice.</p>
    </div>
  </div>
  <div>
    <ul class="list-group" *ngFor="let c of set.cards">
      <li class="list-group-item">
        <p>{{c.front}}</p>
        <p>{{c.back}}</p>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!set">
  <app-spinner></app-spinner>
</div>